
<div class="body">

  <div class="box-form">
    <div class="left">
      <div class="overlay">
        <h1> Welcome Back !</h1>
        <p>Welcome to our Job Portal, where opportunities meet talent and dreams become careers. </p>
      </div>
    </div>


    <div class="right">

      <h5 class="login-heading">Login</h5>
      <form (submit)="saveChanges(form.value)" [formGroup]="form" >
        <mat-form-field appearance="outline" >
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput />

        </mat-form-field>
        <!-- <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field> -->
        <mat-form-field appearance="outline" >
          <mat-label>Passowrd</mat-label>
          <input formControlName="password" matInput type="password" />
          <mat-error *ngIf="form.invalid">Password is required</mat-error>
      </mat-form-field>
        <div>
            <button mat-flat-button color="primary" [disabled]="form.invalid">Login</button>
            <!-- <a mat-stroked-button routerLink="/home">Cancel</a> -->
        </div>
      </form>

    </div>

  </div>
</div>
