
<div class="main-container container">
  <div class="row">
    <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="searchForm-container">
        <div class="heading-container">
          <h2 class="search-heading">Search Candidate</h2>
          <button mat-raised-button color="primary" class="clear-btn" (click)="clear()">Clear </button>
        </div>
        <hr/>
        <form class="form" [formGroup]="CandiadteSearchForm" (ngSubmit)="onSubmit()">

          <mat-form-field appearance="outline">
            <mat-label>Candidate Name</mat-label>
            <input matInput formControlName="CandidateName" type="text">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Candidate Field</mat-label>
            <input matInput formControlName="CandiadteField" type="text">
          </mat-form-field>

          <mat-form-field >
            <mat-label>Select a Location</mat-label>
            <mat-select formControlName="Location">
              <mat-option  [value]="null">Select a Location</mat-option>
              <mat-option *ngFor="let location of locationOptions" [value]="location.key">{{ location.value }}</mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit" class="btn-search">Search</button>

        </form>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" >
      <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">GetToJob</li>
          <li class="breadcrumb-item active" aria-current="page">Candidates</li>
        </ol>
      </nav>
        <app-candidate-list [clearSearch]="clearSearch" [candidateData]="candidateData" [candidateSearchData]="candidateSearch" [searchCandidateNotFoundData]="searchCandidateNotFound"></app-candidate-list>
    </div>

  </div>

</div>


