
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 left">
      <div class="Inner-container">
        <img src="https://cdn.textstudio.com/output/sample/normal/3/5/1/5/company-logo-103-5153.png" class="logo">
        <h2>Register as an Company</h2>
        <button routerLink="employerRegister" class="custom-btn">Register Company</button>
     </div>
    </div>
    <div class="col-md-6 right">
      <div class="Inner-container">
        <img src="https://cdn.textstudio.com/output/sample/normal/9/0/7/6/candidate-logo-73-6709.png" class="logo">
        <h2>Register as an Candidate</h2>
        <button routerLink="candidateregister" class="custom-btn">Register Candidate</button>
     </div>
    </div>
  </div>


<!-- <div class="split left">
  <div class="centered">
    <img src="img_avatar2.png" alt="Avatar woman">
    <h2>Jane Flex</h2>
    <p>Some text.</p>
  </div>
</div>

<div class="split right">
  <div class="centered">
    <img src="img_avatar.png" alt="Avatar man">
    <h2>John Doe</h2>
    <p>Some text here too.</p>
  </div>
</div> -->
</div>
