
<div class="main-container">
  <h1>Register as Compnay/Employer</h1>

  <mat-stepper headerPosition="top" #stepper>
    <mat-step>
      <ng-template matStepLabel>Enter Email and Password</ng-template>
      <div class="inner-container">
      <form (submit)="userRegister(form.value)" [formGroup]="form" >
        <mat-form-field appearance="outline" >
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput />

        </mat-form-field>
        <mat-form-field appearance="outline" >
          <mat-label>Passowrd</mat-label>
          <input formControlName="password" matInput type="password"/>
          <mat-error *ngIf="form.invalid">Password is required</mat-error>
      </mat-form-field>
        <div>
            <button matStepperNext mat-flat-button color="primary" [disabled]="form.invalid">Next</button>
        </div>
      </form>
    </div>
    </mat-step>
    <mat-step >
      <ng-template matStepLabel>Enter Company Details</ng-template>
      <div class="inner-container">

      <form (submit)="companyRegister(employerForm.value)" [formGroup]="employerForm" >
        <mat-form-field appearance="outline" >
            <mat-label>Company Name</mat-label>
            <input formControlName="companyName" matInput />
        </mat-form-field>
        <mat-form-field appearance="outline" >
          <mat-label>Company About</mat-label>
          <input formControlName="companyAbout" matInput />
        </mat-form-field>
        <mat-form-field appearance="outline" >
          <mat-label>Company Logo</mat-label>
          <input formControlName="companyLogo" matInput />
        </mat-form-field>
        <mat-form-field appearance="outline" >
          <mat-label>Founded</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="founded">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" >
          <mat-label>Headquarters</mat-label>
          <input formControlName="headquarters" matInput/>
        </mat-form-field>
        <mat-form-field appearance="outline" >
          <mat-label>Industry</mat-label>
          <input formControlName="industry" matInput />
        </mat-form-field>
        <mat-form-field appearance="outline" >
          <mat-label>CompanyWebsite</mat-label>
          <input formControlName="companyWebsite" matInput />
        </mat-form-field>
        <mat-form-field appearance="outline" >
          <mat-label>CompanySize</mat-label>
          <input formControlName="companySize" matInput />
        </mat-form-field>
        <div>
          <!-- <button matStepperNext mat-flat-button color="primary" [disabled]="employerForm.invalid">Complete Process</button>  -->
          <button matStepperNext mat-flat-button color="primary">Complete Process</button>
        </div>
      </form>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Complete</ng-template>
        <div class="done-container">
          <h2> You are now done.</h2>
          <iframe src="https://embed.lottiefiles.com/animation/113967"></iframe>
          <button mat-flat-button color="primary" routerLink="/login">Please Login</button>
        </div>
    </mat-step>
  </mat-stepper>




  <div *ngIf="error ; else elseError">
    <h3  style="color:red">{{error | json}}</h3>
  </div>
  <ng-template #elseError>

  </ng-template>

</div>
