
<div class="main-container container-fluid">

  <div class="row">
  <div class="col-md-2" >
    <div class="side-bar">

      <div class="profile-data">
        <img src="{{employerById.companyLogo}}" class="profile-logo"/>
        <div>
          <h4 class="profile-username">Howdy ! </h4>
          <p class="profile-welcome">Welcome Back </p>
        </div>

      </div>
    <div class="align-items-start">
      <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="v-pills-dashboard-tab" data-bs-toggle="pill" data-bs-target="#v-pills-dashboard" type="button" role="tab" aria-controls="v-pills-dashboard" aria-selected="true"> <mat-icon>dashboard</mat-icon><span>Dashboard</span></button>
        <button class="nav-link " id="v-pills-jobPost-tab" data-bs-toggle="pill" data-bs-target="#v-pills-jobPost" type="button" role="tab" aria-controls="v-pills-jobPost" aria-selected="false"> <mat-icon>dashboard</mat-icon><span>Post Job</span></button>
        <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"><mat-icon>edit</mat-icon>Add Job Tags</button>
        <button class="nav-link" id="v-pills-dashboard-tab" data-bs-toggle="pill" data-bs-target="#v-pills-logout" type="button" role="tab" aria-controls="v-pills-logout" aria-selected="false" (click)="logout()"><mat-icon>exit_to_app</mat-icon>log Out</button>
      </div>
    </div>
   </div>
  </div>

  <div class="col-md-7">
    <div class="tab-content" id="v-pills-tabContent" style="background-color: white;">
      <div class="tab-pane fade show active" id="v-pills-dashboard" role="tabpanel" aria-labelledby="v-pills-dashboard-tab"><app-company-dashboard-index></app-company-dashboard-index></div>
      <div class="tab-pane fade show" id="v-pills-jobPost" role="tabpanel" aria-labelledby="v-pills-jobPost-tab"><app-job-post></app-job-post></div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"><app-job-classes></app-job-classes></div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="profile-info">
      <img src="{{employerById.companyLogo}}" class="profile-logo-right"/>
        <div style="display: flex;flex-direction: column; align-items: center;">
          <h4 class="company-howdy">Howdy !</h4>
          <h4 class="company-email">{{employerById.companyName}}</h4>
        </div>
    </div>
  </div>
</div>
</div>
