 <!-- main banner -->
 <section class="bgimage" id="home">
  <div class="container-fluid">
      <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-text">
          <h2 class="hero_title">Starting From Dream Jobs </h2>
          <p class="hero_desc">High Performance Job board WordPress Theme </p>
      </div>
      </div>
  </div>
</section>


<!-- services section-->
<section id="services">
  <div class="container">
      <h1 class="text-center">Services</h1>
      <div class="row">
          <div class="col-lg-4 mt-4">
              <div class="card servicesText">
                  <div class="card-body">
                      <i class="fas servicesIcon fa-clock"></i>
                      <h4 class="card-title mt-3">Website Development</h4>
                      <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.
                          Some quick example text to build on the card title and make up the bulk of the card's content.
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 mt-4">
              <div class="card servicesText">
                  <div class="card-body">
                      <i class='fas servicesIcon fa-layer-group'></i>
                      <h4 class="card-title mt-3">Website Design</h4>
                      <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.
                          Some quick example text to build on the card title and make up the bulk of the card's content.
                      </p>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 mt-4">
              <div class="card servicesText">
                  <div class="card-body">
                      <i class='far servicesIcon fa-check-circle'></i>
                      <h4 class="card-title mt-3">Website Deployment</h4>
                      <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.
                          Some quick example text to build on the card title and make up the bulk of the card's content.
                      </p>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-lg-4 mt-4">
              <div class="card servicesText">
                  <div class="card-body">
                      <i class='fas servicesIcon fa-search'></i>
                      <h4 class="card-title mt-3">SEO</h4>
                      <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.
                          Some quick example text to build on the card title and make up the bulk of the card's content.
                      </p>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 mt-4">
              <div class="card servicesText">
                  <div class="card-body">
                      <i class='fas servicesIcon fa-shield-alt'></i>
                      <h4 class="card-title mt-3">DevOps</h4>
                      <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.
                          Some quick example text to build on the card title and make up the bulk of the card's content.
                      </p>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 mt-4">
              <div class="card servicesText">
                  <div class="card-body">
                      <i class='fas servicesIcon fa-wrench'></i>
                      <h4 class="card-title mt-3">QA</h4>
                      <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.
                          Some quick example text to build on the card title and make up the bulk of the card's content.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


<!-- contact section-->
<section id="contact">
  <div class="container mt-3 contactContent">
      <h1 class="text-center">Contact Me</h1>

      <div class="row mt-4">
          <div class="col-lg-6">
              <!-- to edit google map goto https://www.embed-map.com type your location, generate html code and copy the html  -->
              <div style="max-width:100%;overflow:hidden;color:red;width:500px;height:500px;">
                <div class="mapouter"><div class="gmap_canvas"><iframe width="770" height="510" id="gmap_canvas" src="https://maps.google.com/maps?q=purelogics pakistan&t=&z=10&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://2yu.co">2yu</a><br><style>.mapouter{position:relative;text-align:right;height:510px;width:770px;}</style><a href="https://embedgooglemap.2yu.co">html embed google map</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:510px;width:770px;}</style></div></div>


              </div>
          </div>

          <div class="col-lg-6">
              <!-- form fields -->
              <form>
                  <input type="text" class="form-control form-control-lg" placeholder="Name">
                  <input type="email" class="form-control mt-3" placeholder="Email">
                  <input type="text" class="form-control mt-3" placeholder="Subject">
                  <div class="mb-3 mt-3">
                      <textarea class="form-control" rows="5" id="comment" name="text" placeholder="Project Details"></textarea>
                  </div>
              </form>
              <button type="button" class="btn btn-success mt-3">Contact Me</button>

          </div>

      </div>
  </div>
</section>



