<div class="main-container">
  <div class="status-containers">
    <div class="row">
      <div class="col-md-6">
        <div class="published-jobs-container">
          <div class="row">
            <div class="col-md-9">
              <h2 class="pb-job-title">Published Jobs</h2>
              <p  class="pb-job-count">{{(employerById.jobOffered ).length}}</p>
              <p><a  class="pb-job-link" [routerLink]="['/employers/employer-detail/', employerById.id]">View All Published Jobs</a> </p>
            </div>
            <div class="col-md-3">
              <img src="./../../../../assets/publishedJobs.png" class="pb-jobs-img"/>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="jobs-application-container">
          <div class="row">
            <div class="col-md-9">
              <h2 class="pb-job-title">Total Applications</h2>
              <p  class="pb-job-count">{{(jobs).length}}</p>
              <p class="pb-job-link"><a  class="pb-job-link" [routerLink]="['/employers/employer-detail/', employerById.id]">Go To Profile</a></p>
            </div>
            <div class="col-md-3">
              <img src="./../../../../assets/warning.png" class="pb-jobs-img"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="job-overview-container">
      <h2 class="job-overview-title">Recent Jobs Overview </h2>


      <div *ngIf="(employerById.jobOffered).length != 0;else noJob">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Job Title</th>
              <th scope="col">Location</th>
              <th scope="col">Type</th>
              <th scope="col">Action</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of employerById.jobOffered ; let i = index" >
              <td>{{ i + 1 }}</td>
              <td>{{ item.title }}</td>
              <td>{{ getLocationTitle(item.location)}}</td>
              <td>{{ getJobTypeTitle(item.type)}}</td>
              <td>
                <button color="primary"  [routerLink]="['/eidtJob/', item.id]"  mat-raised-button>Edit</button>
                <button color="warn" [routerLink]="['/companydashboard/jobclasses/', item.id]"  mat-raised-button>Delete</button>
              </td>
            </tr>

          </tbody>
        </table>

      </div>


      <h2 class="job-overview-title">Recent Applications </h2>
      <div *ngIf="(employerById.jobOffered).length != 0;else noJob">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Job Title</th>
              <th scope="col">Candiate Name</th>
              <th scope="col">View</th>

            </tr>
          </thead>
          <tbody>

              <tr *ngFor="let items of jobs; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{items.job.title}}</td>
                <td> {{items.candidate.name}}</td>
                <td><button color="primary"  [routerLink]="['/candidate/candidate-detail/', items.candidate.id]"  mat-raised-button>View</button></td>
              </tr>

              <!-- <span *ngFor="let job of item.appliedJobs"> -->
                <!-- {{job.candidate.name }} -->



                  <!-- <td>{{job.candidate.name }}</td> -->
                  <!-- <td>{{ }}</td> -->
                  <!-- <td><button color="primary"  [routerLink]="['/companydashboard/jobclasses/', item.id]"  mat-raised-button>Edit</button></td> -->
                <!-- </span> -->


            <tr *ngFor="let item of jobs.appliedJobs" >

              <td>{{ item.title }}</td>
              <td>{{ getLocationTitle(item.location)}}</td>
              <td>{{ getJobTypeTitle(item.type)}}</td>
              <!-- <td><button color="primary"  [routerLink]="['/companydashboard/jobclasses/', item.id]"  mat-raised-button>Edit</button></td> -->
            </tr>

          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>



<ng-template #noJob>
  <div class="noJob-container">
    <iframe src="https://embed.lottiefiles.com/animation/109013"></iframe>
    <h2>No Jobs Posted Yet</h2>
  </div>
</ng-template>
