/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;overflow-x: hidden; }
body { margin: 0; font-family: 'popins', sans-serif; }
@font-face {
  font-family: 'popins';
  src: url('../src/app/includes/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
