

<div class="container job-home-container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <!-- Column 1 content here -->
      <div ngbRow>
        <div class="container">
          <aside class="sidebar">
          <form [formGroup]="profileForm">

            <mat-accordion class="panel">
              <mat-expansion-panel class="my-toggle">
                <mat-expansion-panel-header matExpansionToggleIcon="arrow_drop" class="white-icon-header">
                  <mat-panel-title class="title">
                    <span class="toggle-icon"></span>
                    Search by Job Keyword
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label>Job Title</mat-label>
                  <input
                    formControlName="jobTitle"
                    matInput
                    placeholder="Enter Job TitleS"
                  />
                </mat-form-field>
              </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion>
              <mat-expansion-panel class="panel-content">
                <mat-expansion-panel-header>
                  Search by Job Keyword
                </mat-expansion-panel-header>
                <div>
                  <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Job Title</mat-label>
                    <input
                      formControlName="jobTitle"
                      matInput
                      placeholder="Enter Job TitleS"
                    />
                  </mat-form-field>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="panel-content">
                <mat-expansion-panel-header>
                  Search by Location
                </mat-expansion-panel-header>
                <div class="jobCheckBoxes">



                  <mat-checkbox class="example-margin">Check me!</mat-checkbox>
                  <mat-checkbox class="example-margin">Check me!</mat-checkbox>
                  <mat-checkbox class="example-margin">Check me!</mat-checkbox>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="panel-content">
                <mat-expansion-panel-header>
                  Job Type
                </mat-expansion-panel-header>
                <div class="jobCheckBoxes">
                  <mat-checkbox class="example-margin">Check me!</mat-checkbox>
                  <mat-checkbox class="example-margin">Check me!</mat-checkbox>
                  <mat-checkbox class="example-margin">Check me!</mat-checkbox>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="panel-content">
                <mat-expansion-panel-header>
                  Job Status
                </mat-expansion-panel-header>
                <div class="jobCheckBoxes">
                  <mat-checkbox class="example-margin">Check me!</mat-checkbox>
                  <mat-checkbox class="example-margin">Check me!</mat-checkbox>
                  <mat-checkbox class="example-margin">Check me!</mat-checkbox>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="panel-content">
                <mat-expansion-panel-header>
                  Start Budget
                </mat-expansion-panel-header>
                <div class="jobCheckBoxes">
                  <mat-slider min="0" max="10000" step="100" showTickMarks discrete [displayWith]="formatLabel">
                    <input matSliderThumb>
                  </mat-slider>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="panel-content">
                <mat-expansion-panel-header>
                  End Budget
                </mat-expansion-panel-header>
                <div class="jobCheckBoxes">
                  <mat-slider min="0" max="10000" step="100"  discrete [displayWith]="formatLabel">
                    <input matSliderThumb>
                  </mat-slider>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="panel-content">
                <mat-expansion-panel-header>
                  Vacancy
                </mat-expansion-panel-header>
                <div class="jobCheckBoxes">
                  <mat-slider min="0" max="200" step="10"  discrete [displayWith]="formatLabelVacancy">
                    <input matSliderThumb>
                  </mat-slider>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="panel-content">
                <mat-expansion-panel-header>
                  Start Date
                </mat-expansion-panel-header>
                <div class="jobCheckBoxes">

                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="panel-content">
                <mat-expansion-panel-header>
                  End Date
                </mat-expansion-panel-header>
                <div class="jobCheckBoxes">
                  <mat-card class="demo-inline-calendar-card">
                    <mat-calendar [(selected)]="selected"></mat-calendar>
                  </mat-card>
                  <p>Selected date: {{selected}}</p>
                </div>
              </mat-expansion-panel>




            </mat-accordion>

            <!-- </mat-card-content>
            <mat-card-actions> -->
            <button
              class="btnSearchJob"
              (click)="saveForm()"
              color="primary"
              mat-raised-button
            >
              Submit
            </button>
            <!-- </mat-card-actions>
          </mat-card> -->
          </form>
        </aside>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">GetToJob</li>
          <li class="breadcrumb-item active" aria-current="page">Jobs</li>
        </ol>
      </nav>
      <!-- Column 2 content here -->
      <div ngbRow>
       <app-job-list [jobs]="AllJobdata"  [Featurejobs]="FeatureJobdata" [jobsForNormalUserData]="jobsForNormalUser" [FeatureJobsForNormalUserData]="FeatureJobsForNormalUser"></app-job-list>
      </div>
    </div>
  </div>
</div>

<div>
  {{dataFromHtp}}
</div>

