/* Search Form */
.searchForm-container{
  background-color: #ffffff;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.116);
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  font-family: 'popins', sans-serif;

}
.heading-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.clear-btn{
  font-family: 'popins', sans-serif;
}
.search-heading{
  font-weight: bold;
  font-family: 'popins', sans-serif;
}
.breadcrumb-item{
  font-family: 'popins', sans-serif;
}
mat-form-field{
  width: 100%;
}
.btn-search{
  width: 100%;
  font-family: 'popins', sans-serif;
}

/* Job Home */
.job-home-container{
margin-top: 4%;
margin-bottom: 2%;
}
.my-toggle {
  box-shadow: none;
  background: white;
  transition: all 0.5s ease-in-out;
  /* border: 1px solid #eee; */
}
.title{
  color: #000;
  font-family: 'popins', sans-serif;
  font-size:18px;
  font-weight:500;
  padding: 5px;
}
.sidebar{
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.07);
}
.my-toggle {
  border-radius: 0;
  border-bottom: none;
  padding: 15px 0px;
  border: 1px solid #f7f7f7;
}
.panel{
  border-color: 1px solid #000;
}
