

<div class="container job-home-container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="searchForm-container">
        <div class="heading-container">
          <h2 class="search-heading">job Search</h2>
          <button mat-raised-button color="primary" class="clear-btn" (click)="clear()">Clear Fliter</button>
        </div>

        <hr/>
      <form class="form" [formGroup]="jobSearchForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline">
          <mat-label>Job Titile</mat-label>
          <input matInput formControlName="Title" type="text">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Select a Location</mat-label>
          <mat-select formControlName="Location">
            <mat-option  [value]="null">Select a Location</mat-option>
            <mat-option *ngFor="let location of locationOptions" [value]="location.key">{{ location.value }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Select a Job Class</mat-label>
          <mat-select formControlName="JobClass">
            <mat-option  [value]="null">Select a Job Class</mat-option>
            <mat-option *ngFor="let jobClass of jobClassOptions" [value]="jobClass.key">{{ jobClass.value }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Select a Job Type</mat-label>
          <mat-select formControlName="Type">
            <mat-option  [value]="null">Select a Job Type</mat-option>
            <mat-option *ngFor="let type of typeOptions" [value]="type.key">{{ type.value }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Select a Job Qualification</mat-label>
          <mat-select formControlName="Qualification">
            <mat-option  [value]="null">Select a Job Qualification</mat-option>
            <mat-option *ngFor="let qualification of qualificationOptions" [value]="qualification.key">{{ qualification.value }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Select a Job Salary Type</mat-label>
          <mat-select formControlName="SalarayType">
            <mat-option  [value]="null">Select a Job Salary Type</mat-option>
            <mat-option *ngFor="let salary of salaryOptions" [value]="salary.key">{{ salary.value }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Start Budget</mat-label>
          <input matInput formControlName="StartBudget" type="number">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>End Budget</mat-label>
          <input matInput formControlName="EndBudget" type="number">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Select a Job Experience</mat-label>
          <mat-select formControlName="JobExperience">
            <mat-option  [value]="null">Select a Job Experience</mat-option>
            <mat-option *ngFor="let jobExperience of jobExperienceOptions" [value]="jobExperience.key">{{ jobExperience.value }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Select a shift</mat-label>
          <mat-select formControlName="JobShift">
            <mat-option  [value]="null">Select a Job shift</mat-option>
            <mat-option *ngFor="let shift of shiftOptions" [value]="shift.key">{{ shift.value }}</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" class="btn-search">Search Job</button>
      </form>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">GetToJob</li>
          <li class="breadcrumb-item active" aria-current="page">Jobs</li>
        </ol>
      </nav>
      <!-- Column 2 content here -->
      <div ngbRow>
       <app-job-list [clearSearch]="clearSearch" [jobs]="AllJobdata"  [Featurejobs]="FeatureJobdata" [jobsForNormalUserData]="jobsForNormalUser" [FeatureJobsForNormalUserData]="FeatureJobsForNormalUser"  [searchJobNotFoundData]="searchJobNotFound" [jobSearchData]="jobSearch"></app-job-list>
      </div>
    </div>
  </div>
</div>


