<div class="fluid-container TopContainer">
  <div class="InnerData container">


      <img src="{{candidateById.profileImg}}" class="candidate-logo"/>
      <div>


      <h1 class="candidate-title">{{candidateById.name}}</h1>

      <div class="candidate-info-container">
        <button mat-mini-fab color="primary">
          <mat-icon>location_on</mat-icon>
        </button>
        <span class="candidate-info-text"> {{getLocationTitle(candidateById.location) }} </span>

        <button mat-mini-fab color="accent">
          <mat-icon>timeline</mat-icon>
        </button>
        <span class="candidate-info-text"> {{"Experience Time : " + candidateById.experienceTime }} Years </span>

        <button mat-mini-fab color="warn">
          <mat-icon> book</mat-icon>
        </button>
        <span class="candidate-info-text"> {{ "Qualification : " + getqualificationTitle(candidateById.qualification) }}</span>
      </div>
    </div>
  </div>

</div>

<div class="bottom-container container">

  <div class="row">

    <div class="col-md-4">
      <div class="sidebar-container">
        <h1>  Employer Detail </h1>
        <hr>
        <div class="sidebar-content">
          <button mat-mini-fab color="primary">
            <mat-icon>local_phone</mat-icon>
          </button>
          <div class="innercontent-container">
            <h2>Phone:</h2>
            <p>{{candidateById.phone}}</p>
          </div>
        </div>
        <div class="sidebar-content">
          <button mat-mini-fab color="accent">
            <mat-icon>accessibility_new</mat-icon>
          </button>
          <div class="innercontent-container">
            <h2>Experience:</h2>
            <p>{{candidateById.experience}} </p>
          </div>
        </div>
        <div class="sidebar-content">
          <button mat-mini-fab color="primary">
            <mat-icon>monetization_on</mat-icon>
          </button>
          <div class="innercontent-container">
            <h2>Expected Salary:</h2>
            <p>{{candidateById.expectedSalary}}</p>
          </div>
        </div>
        <div class="sidebar-content">
          <button mat-mini-fab color="warn">
            <mat-icon>book</mat-icon>
          </button>
          <div class="innercontent-container">
            <h2>Qualification:</h2>
            <p>{{getqualificationTitle(candidateById.qualification)}} </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="detail-container">
        <h1 class="candidate-heading">About Me</h1>
        <hr>
        <p>{{candidateById.aboutMe}}</p>
      </div>


    <div>


   </div>
  </div>
</div>



