
<div class="container main-container">
  <div class="jobApplied-contaienr" *ngIf="appliedJobs!=null">
    <h2 class="Job-heading" *ngIf="appliedJobs !=null">Applied Jobs</h2>
    <hr>

    <div *ngFor="let appliedJob of appliedJobs" >

      <div class="featureCards row">
        <div class="col-md-5">
          <h4 class="jobTitle">{{ appliedJob.job.title }}</h4>
          <p class="companyName">Scriptbundle</p>
          <div class="JobLocation">
            <button mat-mini-fab color="primary">
              <mat-icon>location_on</mat-icon>
            </button>
          <span class="JobLocationText"> {{ getLocationTitle(appliedJob.job.location)}}</span>
          </div>

          <h4>Job Class</h4>
          <div class="jobClass">


            <div *ngFor="let classOfJob of appliedJob.job.allJobsClasses">
              <span *ngIf="classOfJob.jobClass.name === jobClasses.Feature" class="JobClassFeature">Feature</span>
              <span *ngIf="classOfJob.jobClass.name === jobClasses.Urgent" class="JobClassUrgent">Urgent</span>
              <span *ngIf="classOfJob.jobClass.name === jobClasses.Remote" class="JobClassPrivate">Remote</span>
            </div>
          </div>
        </div>
        <div class="col-md-5 jobTypes">
          <h4> <strong>Job Type: </strong> {{ getJobTypeTitle(appliedJob.job.type)}}</h4>
          <h4> <strong>Posted : </strong> {{appliedJob.job.jobPosted | date:'EEEE, MMMM dd, yyyy'}} ago</h4>
          <h4> <strong>Deadline : </strong> {{appliedJob.job.deadLine | date:'EEEE, MMMM dd, yyyy'}}</h4>
        </div>
        <div class="col-md-2">
          <!-- <button color="primary" [routerLink]="['/job/view-job/', appliedJob.job.id]"  mat-raised-button class="btnglobal">
            View Detail
          </button> -->
        </div>
      </div>
  </div>
  </div>
  <div class="jobApplied-contaienr" *ngIf="appliedJobs==null">
    <h1>No job applications have been submitted yet</h1>
    <iframe src="https://embed.lottiefiles.com/animation/106840"></iframe>
  </div>
</div>
