
<nav class=" navbar navbar-expand-lg bg-body-tertiary stroke">


    <div class="container">
      <img src="./../../../assets/logo.png"  class=" navbar-brand logo"/>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="active"
              routerLink="home"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="active"
              routerLink="job"
              >Job</a
            >
          </li>
          <li class="nav-item">
            <a
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="active"
              routerLink="employers"
              >Employers</a
            >
          </li>
          <li class="nav-item">
            <a
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="active"
              routerLink="candidate"
              >Candidate</a
            >
          </li>
          <ng-container *ngIf="isCompany">


          <li class="nav-item">
            <a
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="active"
              routerLink="Nice"
              >Nice staff</a
            >
          </li>
        </ng-container>

          <ng-container *ngIf="!isAuth;else samplecontent">
            <li class="nav-item">
              <a
                [routerLinkActiveOptions]="{ exact: true }"
                routerLinkActive="active"
                routerLink="login"
                >Login</a
              >
            </li>
            <li class="nav-item">
              <a
                [routerLinkActiveOptions]="{ exact: true }"
                routerLinkActive="active"
                routerLink="register"
                >Register</a
              >
            </li>
          </ng-container>
          <ng-template #samplecontent>

            <ng-container>
              <li class="nav-item">
                <a mat-icon-button [matMenuTriggerFor]="menu"> <mat-icon>account_circle</mat-icon></a>
              </li>

            </ng-container>
          </ng-template>

        </ul>

      </div>
    </div>
</nav>


<mat-menu #menu="matMenu">
  <button mat-menu-item  routerLink="dashboard" class="dropdown-link">
    <mat-icon>list_alt</mat-icon>
    <span> <a>Dashboard</a></span>
  </button>
  <button mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    <span><a (click)="SecurityService.logout()">Logout</a></span>
  </button>
</mat-menu>
<!-- {{"user auth is "+ userAuthenticate}} -->


